
h1, h2, h3, p, span, a {
    font-family: 'Ubuntu', sans-serif;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 200px;
    padding-right: 200px;
}

footer {
    margin: 5em 0;
}

span.license, span.license > a{
    color: white !important;
}

.lead{
    font-size: 25px;
}